


body {
 
 margin: 0;
 font-family: sans-serif;
 background-color: #f8f8ff;
 
  
}

/*portoflio settings */

.bio-card {
  background-color: rgba(80, 58, 131, 1);
  padding: 0;
  margin: 0;
  padding-top: 150px;
padding-bottom: 150px;


 
}

.bio-content {
  color: white;
  padding-left: 40px;
 
}


.social {
  text-decoration: none;
  color: white;
}

.wrapper {
padding-left: 40px;
padding-right: 40px;

}

.skill {
 text-align: center;

}

.tech {
  text-align: center;
  font: large;
line-height: 35px;
font: 25px;

  
}

.art {
  text-align: center;
  font: large;
line-height: 35px;
}


.project {
  text-align: center;
}

.art :active {
 border-style: outset; 
}

.tech:active {
  border-style: outset;
}

button:active {
  border-style: outset;
}

.projimg {
  max-width: 50%;
  height: auto
}


.project {
  
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.three-column {
  float: left;
  width:30%;
  padding: 20px;
  min-height: 350px;
text-align: center;
  
}

.three-column:after {
  content: "";
  display: table;
  clear: both;
}







.button-holder {
background-color: gray;
color: white;
text-decoration: none;
font-weight: 800;
border-radius: 8px;
letter-spacing: 1px;
width: 125px;
height: auto;
text-align: center;

}


.three-website {
  padding-top: 10px;
  width:30%;
  min-height: 350px;
text-align: center;


}

.three-website p h1 img {
text-align: center;
}

.live-view {

  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.live-view:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .live-view {
    padding: 10px 30px;
  }
}

.foot {
  background-color: rgba(80, 58, 131, 1);
}

.social-2 {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
