

body {
 margin: 0;
 font-family: sans-serif;
 background-color: #f8f8ff;
 
  
}


.zoomy {

}




/*portoflio settings */

.bio-card {
  background: linear-gradient(135deg, rgba(59, 59, 59, 1), rgba(117, 117, 117, 0.94), rgba(59, 59, 59, 1));
  -webkit-background: linear-gradient(135deg, rgba(59, 59, 59, 1), rgba(117, 117, 117, 0.94), rgba(59, 59, 59, 1));
  -moz-background: linear-gradient(135deg, rgba(59, 59, 59, 1), rgba(117, 117, 117, 0.94), rgba(59, 59, 59, 1));
padding-top: 100px;
padding-bottom: 125px;

 
}

.bio-content {
  padding: 80px;
  color: white;
}

.social {
  color: black;
  font-size: x-large;
  word-spacing: 2px;
  text-decoration: none;
}

/*Skills and Description*/
.skills-title {
  text-align: center;
 
  
  

}

.skills-logo {
  align-items: center;
}

.technical-skills {
  text-align: center;
  font: large;
line-height: 35px;
}

.technical-skills :active {
  border-style: outset;
}


.art-skills {
  text-align: center;
  font: large;
}

.art-skills :active {
border-style: outset;
}

.skill {
  background-color: gray;
}

.skill:active {
  border-style: outset;
}

.skill-bio {
  text-align: center;
  

  padding: 80px;
 
}

/*Projects */

.project-1_left {
margin: auto;
  float: left;
padding-left: 80px;
}


.project-1_right {
  margin: auto;
  width: 50%;
  float: right;
padding-right: 80px;
}


.oogle-profile {
  margin: auto;
  float: right;
padding-right: 80px;
margin-top: 10px;
text-align: center;
}


/*project2*/
.project-2_left {
  margin: auto;
    float: right;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 200px;
  }
  
  
  .project-2_right {
    margin: auto;
    width: 50%;
    float: left;
  padding-right: 80px;
  padding-left: 80px;
  
  }


/* project 3 */
.project-3 {
  margin-top: 40px;
}

.project-3_left {
  margin: auto;
  margin-top: 120px;
    float: left;
  padding-left: 80px;
  
 
  }
  
  
  .project-3_right {
    margin: auto;
 width: 50%;
 margin-top: 50px;
    float: right;
  padding-right: 80px;
 
  
  }


  /*Project / Freelance */

 
  .project-3 {
    margin-top: 40px;
  }
  
  .project-4_left {
    margin: auto;
    margin-top: 120px;
      float: left;
    padding-left: 80px;
    
   
    }
    
    
    .project-4_right {
      margin: auto;
   width: 50%;
   margin-top: 50px;
      float: right;
    padding-right: 80px;
   
    
    }
  
    .project-4_left img {
border: 5px solid;

    }

    .website-preview {
color: red;
      
    }


    
.github-preview {
  color: black;
}

.freelance-buttons {
  display: inline-block;
  
}